/* ==========================================================================
   Library skin
   ========================================================================== */

/* Colors */
$background-color:  #3D362D  !default;
$text-color:Wheat !default;
$muted-text-color:  #cbbbc3 !default;
$primary-color: #665847 !default;
$border-color: darken($background-color, 20%) !default;
$footer-background-color: darken($background-color, 20%) !default;
$link-color: #cbbbc3 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: #cbbbc3 !default;

/* dirt syntax highlighting (base16) */
$base00: #231e18 !default;
$base01: #302b25 !default;
$base02: #48413a !default;
$base03: #9d8b70 !default;
$base04: #b4a490 !default;
$base05: #cabcb1 !default;
$base06: #d7c8bc !default;
$base07: #e4d4c8 !default;
$base08: #d35c5c !default;
$base09: #ca7f32 !default;
$base0a: #e0ac16 !default;
$base0b: #b7ba53 !default;
$base0c: #6eb958 !default;
$base0d: #88a4d3 !default;
$base0e: #bb90e2 !default;
$base0f: #b49368 !default;

.page__footer {
    color: #fff !important; // override
  }